[submodule "themes/enchanted-lowkey"]
	path = themes/enchanted-lowkey
	url = https://github.com/nixentric/Lowkey-Hugo-Theme.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/bign86/hugo-PaperMod.git
